<!DOCTYPE html>

<html>

<!-- this is how you make comments in HTML -->

<head>
    <link rel="stylesheet" href="/css/styles.css"> <!-- this is loading in the style sheet-->

</head>

<body>






    <body>
        <div class="main-content">
            {{>header}}
            <!--   <img class="potrait " src="/TT.jpg"> -->
            <!-- <img class="potrait " <!-- can add other classes with a space -->


            <h1>{{errorMsg}}</h1>


        </div>





        {{>footer}}
    </body>




</html>