<!DOCTYPE html>

<html>

<head>
    <!-- <title>About</title> -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- this is loading in the style sheet-->
</head>



<body>
    <div class="main-content">
        {{>header}}
        <!--   <img class="potrait " src="/TT.jpg"> -->
        <!-- <img class="potrait " <!-- can add other classes with a space -->
        <p> this site was made by Assael and uses daa from WeatherStack and Mapbox </p>
    </div>



    {{>footer}}
</body>




</html>