<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/styles.css">

<head>

</head>


<body>
    <div class="main-content">
        {{>header}}

        {{forecastData }}



    </div>



    {{>footer}}
</body>

</html>