<footer>


    <p></p>

    <h3>this website was compiled by Assael Stein</h3>

    <div>
        <a href="/"> Homepage</a>
        <a href="/about"> About</a>
        <a href="/help"> Help</a>
        <a href="/weather"> Weather</a>
        <a href="/shabbat"> Shabbat Times</a>

    </div>




</footer>