<header>

  <h1>Welcome to Assael's website</h1>

  <h2> You are currently on {{title}} page </h2>

  <title>Assael's Website</title>
  <!--gives a label on the tab in the browser-->


  <div>
    <a href="/"> Homepage</a>
    <a href="/about"> About</a>
    <a href="/help"> Help</a>
    <a href="/weather">Weather</a>
    <a href="/shabbat">shabbat Times</a>
  </div>






</header>


<!-- -->