<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>About the Tzemach Tzedek</h1>
    <img src="/TT.jpg">
    <p>created by {{name}}</p>
</body>

</html>