<!DOCTYPE html>

<html>
<h1>this is in the views folder</h1>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <p> Created by {{name}}</p>


    <form>

        <input>
        <button>Search</button>


    </form>

</body>

</html>