<!DOCTYPE html>

<html>

<!-- this is how you make comments in HTML -->

<head>

</head>

<body>




</body>


<div>

    <style type="text/css">
        .CLTable {
            background-color: #DBEAF5;
            border-color: #A0C6E5;
            font-size: 11px
        }

        .CLHeadingBold {
            font-family: Tahoma, Arial, Verdana;
            font-size: 11px;
            text-align: center;
            font-weight: bold
        }

        .CLheading {
            font-family: Tahoma, Arial, Verdana;
            font-size: 11px;
            text-align: center;
            color: #000
        }

        A.CLLink {
            font-family: Tahoma, Arial, Verdana;
            font-size: 9px;
            text-align: center;
            color: #000;
            text-decoration: none
        }

        A.CLLink:Hover {
            font-family: Tahoma, Arial, Verdana;
            font-size: 9px;
            text-align: center;
            color: #000;
            text-decoration: underline
        }

        .CLdate {
            font-family: Tahoma, Arial, Verdana;
            font-size: 11px;
            text-align: left;
            font-weight: bold;
            text-decoration: none
        }

        .CLtime {
            font-family: Tahoma, Arial, Verdana;
            font-size: 11px;
            text-align: right;
            font-weight: normal;
            margin-bottom: 0
        }

        .CLhr {
            color: #666;
            height: 1px;
            width: 50%
        }

        .CLHolName {
            font-weight: normal
        }
    </style>

    <!-- You may customize the design of the candle lighting times by modifying the CSS styles above. -->
    <!-- Do not modify any code below this line -->
    <!-- Copyright Chabad.org 1993-2020 -->
    <table width="190" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="100%" class="clheading">
                <script type="text/javascript" language="javascript"
                    src="//www.chabad.org/tools/shared/candlelighting/candlelighting.js.asp?locationId=248&locationType=1&ln=2&weeks=2"></script>
            </td>
        </tr>
    </table>







</div>




<html>

</html>